# Seed for random number generator
random-seed = 210

# Shock speed as: km/s, Lorentz factor γ, or β
shock-speed = 5.0
# Units of shock speed. One of: "km/s", "gamma", "γ", or "c"
# gamma and γ are the Lorentz factors, and c is in units of c, i.e., β
shock-speed-unit = "gamma"

# Number of iterations to perform
num-iterations = 20

# Number of time steps per gyro period, for "coarse" and "fine" scattering
coarse-scattering-Ng = 100.0
fine-scattering-Ng = 2000.0

# mass for each species, in units of proton mass (nan for e⁻)
# this also determines the number of ions
AA_ION = [1.0, nan]
# Z for each species
ZZ_ION = [1.0, -1.0]
# T₀[K] for each species
TZ_ION = [1e6, 1e6]
# den₀[/cm³] for each species
DENZ_ION = [1.0, 0.0]

# Far upstream electron temperature. Is set to 0 if e⁻ is a separate species.
upstream-electron-temperature = 0.0

# Input distribution. 1 = thermal, 2 = delta function, 3 = other
input-distribution = 1

# Injection energy[keV] and min PSD limit if "input-distribution" = 2. Ignored otherwise.
injection-energy = 1e3

# How to assign initial weights. True = equal by particle, false = equal by bin
injection-weights = true

# Max particle energy as Emax[keV], Emax/nuc[keV/aa], pmax/(m_pc). 1st nonzero
# value used. Also used in setting phase space distribution
maximum-energy = [0, 0, 1e10]

# Gyrofactor, i.e. MFP = gyrofac*gyroradius. Ignored if use-custom-frg = true
gyrofactor = 1.0

# Far upstream magnetic field in Gauss
B-mag-upstream = 1e-5

# Upstream angle[deg] between B-field and shock normal
theta-B0 = 0.0

# Start of grid and downstream limit of grid in units of rg0. The start cannot
# be closer than the upstream FEB.
x_grid_limits = [-1e7, 1e1]

# Upstream FEB, in [rg0] or [pc]. 1st non-zero value used. Must be negative.
FEB-upstream = [-1e2, 0.0]

# Downstream FEB, in [rg0] or [pc]. 1st non-zero value used. Must be positive if included; set <= 0 otherwise.
FEB-downstream = [0.0, 0.0]

# Number of x-positions [rg0] where particle spectrum is calculated
NSPEC = 0

# Write a separate dN/dp for each iteration?
separate-dNdp-write = true

# Enter true to define custom f(r_g) in subroutine "scattering"; else = eta_mfp*r_g
use-custom-frg = false

# Number of particles to inject, and target number of particles at low-E pcuts.
#NPTLO = [600, 1200]
#N_PTS_INJ = 600
N_PTS_INJ = 200
N_PTS_PCUT = 400

# Target number of particles at hi-E pcuts, and cutoff kinetic energy [keV/aa] between the two
#NPTHI = [2000, 1_000_000]
N_PTS_PCUT_HI = 2000
EN_PCUT_HI = 1_000_000

# List of momentum cutoffs [aa*m_pc] to use during iterations.
momentum-cutoffs = [
    0.01,
    0.6,
    1.6,
    2.0,
    4.5,
    9.0,
    30.0,
    50.0,
    200.0,
    300.0,
    500.0,
    1000.0,
    2000.0,
    5000.0,
    1.000e4,
    3.162e4,
    1.000e5,
    3.162e5,
    1.000e6,
    3.162e6,
    1.000e7,
    1.778e7,
    3.162e7,
    5.623e7,
    1.000e8,
    1.778e8,
    3.162e8,
    5.623e8,
    1.000e9,
    1.778e9,
    3.162e9,
    5.623e9,
    1.00e10,
    1.778e10,
    3.162e10,
    5.623e10,
    1.000e11,
    1.778e11,
    3.162e11,
    5.623e11,
    1.000e12,
    1.778e12,
    3.162e12,
    5.623e12,
    1.000e13,
]

# Enter true for no shock, i.e. force r_comp = 1. For testing only.
no-shock = false

# Enter true for scatter-FREE propagation. For testing only.
no-scatter = false

# Enter true to turn off DSA. For testing only.
no-DSA = false

# Enter false to keep velocity profile constant between iterations (i.e. NO smoothing)
smooth-shocks = false

# Factor to weight old profile with in shock smoothing.
# > 1 favors old profile over new. = 1 to use mean of the two
old-profile-weight = 1.0

# Increase old profile weighting for later iterations?
increase-old-profile-weighting = false

# For profile iteration, = 0 uses only momentum flux equation, = 1 only energy. Must be in [0,1]
SMMOE = 0.0

# For profile iteration, = 0 uses only flux to find pressure, = 1 only PSD data. Must be in [0,1]
SMPFP = 0.0

# Target compression ratio. = -1 to use R-H value of 3.00884E+00
target-compression-ratio = -1.0

# Enter true to read in old profile from "mc_grid_old.dat"
read-old-profile = false

# If reading old profile, number of lines to skip, number of profiles to
# average, number of lines per profile
old-profile-config = {lines-to-skip = 1300, profiles-to-average = 5, lines-per-profile = 100}

# Maximum allowed CR age (sec, explosion frame). Ignored if <= 0
maximum-age = 3.15e11

# List of time cutoffs to use for tracking particles.
TCUTS = [ 1e3, 1e4, 1e5, 1e6, 1e7, 1e8, 1e9, 1e10, 1e11, 3e13 ]

# Use retro time calculation downstream? Ignored if "maximum-age" < 0
use-retro = true

fast-upstream-transport = true

# Upstream x position[rg0] where PROTON fast transport stops
proton-fast-transport-stop = -1.0

# Artificial smoothing: start position[rg0], scale factor. Ignored if 1st input >= 0
artificial-smoothing = [0.0, 0.0]

# Kinetic energy[keV] below which electrons have constant mfp. Ignored if <= 0
electron-energy-mfp-threshold = 1e4

radiation-losses = true

calculate-photon-production = false

# Jet shock radius[pc] used for normalizing photon production. Ignored if calculate-photon-production = false.
jet-shock-radius = 4.38e-01

# Fraction of sphere producing CRs, or jet open angle[deg]. 1st non-zero value used. Ignored if calculate-photon-production = false
JETFR = [0.0, 5.0]

# Distance from jet to observer[kpc]. Used to calculate photon fluxes & CMB parameters
jet-distance = 1e6

# Whether to use jet distance (= 1) or redshift (= 2) for cosmological calculations
COSMO_VAR = 1

# Fraction of ion energy transferred to electrons at 1st shock crossing. Must be [0,1]; 0 to ignore
energy-transfer-frac = 0.1

# number of upstream & downstream shells for photon emission. Ignored if calculate-photon-production = false
num-shells = [5, 2]

# Fraction of compressed B turbulence to use in scattering & losses. Must be in [0,1]. 0 means ignore
b-field-turbulence = 1.0

# Amplification factor to use for B field. 1.0 means no amp
b-field-amplify = 1.0

# Enter true to define custom epsilon_B on grid; else = B(x) controlled by
# "b-field-turbulence" and "b-field-amplify"
use-custom-epsB = true

# number of PSD bins per decade in (1) momentum, (2) theta
num-psd-bins-per-decade = [10, 10]

# number of PSD angle bins which are linear (cosine)
psd-linear-cosine-bins = 119
# number of PSD angle bins which are logarithmic (theta) decades
psd-log-theta-decs = 4
